<!DOCTYPE html>
<html lang="en">

<head>
  <title>Needy Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style/needy.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script href="script/script.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  
</head>

<body>
  <!-- header -->
  <div id="header"><%- include('header.ejs') %> </div>

  <div class="welcome">
    <div class="welcome-text">
      <h2>Welcome <%= ngo.ngoname %></h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis repellat tempore iste consectetur id ipsa
        culpa sint. Inventore ea a aut, id vel corporis deleniti sapiente accusamus sed voluptatum at! Lorem ipsum
        dolor, sit amet consectetur adipisicing elit. Earum dicta deserunt exercitationem, magni quas veritatis facere
        quae placeat quis quaerat commodi suscipit ex mollitia nihil consectetur, totam iusto nam odit.</p>
    </div>
  </div>
  <div class="your-Events">
    
    <h4>Your Events</h4>
    
    <div class="card-columns">
      <% events.forEach(function(event){ %> 
       <div class="card bg-primary">
        
        <div class="event-details">
      
      <h3 class="event-name"><%= event.name %></h3>
          <p><%= event.description %></p>
          <p><%= event.city %></p>
          <table class="event-req">
              <tr>
                  <th>requirement <%= event.volunteersRequired %></th>
                  <th>remaining</th>
              </tr>
              <tr>
                  <th>requirement 2</th>
                  <th>completed</th>
              </tr>
              
          </table>
        </div>
      </div></a>
      <% }); %> 
      
    </div>
  
  </div>

  </div>
  <div class="new-event">
    <h3>Create a new event</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut modi temporibus at, dignissimos ducimus earum
      voluptatem voluptatum! Aut suscipit, est labore fuga aliquam saepe? Eos explicabo ipsam quas harum cumque!</p>
    <div class="new-btn">
      <button><a href="/newEvent">NEW EVENT</a></button>
    </div>
  </div>

  <!-- <footer> -->
  
<div id="footer"><%- include('footer.ejs') %> </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>